* {
    padding: 0;
    margin: 0;
}

.box {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 100px auto;
}

.box div {
    float: left;
    width: 106px;
    height: 81px;
    text-align: center;
}

img {
    width: 100px;
    height: 75px;
}

.box div:hover img {
    position: absolute;
    width: 200px;
    height: 150px;
    margin-left: -100px;
    margin-top: -35px;
}